# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# PHP Storm
.idea
.idea/*
npm-debug.log
src/AppBundle/EventListener/FileUploadListener.php
src/AppBundle/Resources/translations/messages.en.php
src/AppBundle/Resources/translations/messages.fr.php
src/AppBundle/Resources/views/Default/index.html.twig
src/AppBundle/Resources/views/Page/detailsPost.html.twig
src/AppBundle/Resources/views/Page/listPost.html.twig
src/AppBundle/Resources/views/Post/show.html.twig
src/AppBundle/Services/FileUploader.php
src/BackEndBundle/Controller/PostController.php
src/BackEndBundle/DataFixtures/ORM/CategoryFixtures.php
src/BackEndBundle/DataFixtures/ORM/CommentFixtures.php
src/BackEndBundle/DataFixtures/ORM/PostFixtures.php
src/BackEndBundle/DataFixtures/ORM/UserFixtures.php
src/BackEndBundle/Form/Type/PostType.php
src/BackEndBundle/Repository/PostRepository.php
src/BackEndBundle/Resources/views/base.html.twig
src/BackEndBundle/Resources/views/Post/add.html.twig
src/BackEndBundle/Resources/views/Post/show.html.twig
src/BackEndBundle/Tests/Controller/PostControllerTest.php
web/backEnd/css/bo_style.css
