{% extends 'FrontEndBundle::baseFront.html.twig' %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive img-cover" src="{{ asset('frontEnd/images/profil.png') }}" alt="">
            <div class="intro-text">
                <span class="name">{{ 'title'|trans }}</span>
                <hr class="star-light">
                <span class="skills"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
