{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row blocConnection col-lg-3 col-md-3 col-xs-4 col-lg-offset-4 col-md-offset-4 col-xs-offset-4">
        <div>
            <div class="blocImg col-lg-12 col-md-12">
                <img src="{{ asset('frontEnd/images/profil.png') }}" class="imgConnect"/>
            </div><br>
            <p class="titleConnect col-lg-12 col-md-12">Connexion</p>
        </div>
        {{ include('FOSUserBundle:Security:login_content.html.twig') }}
    </div>
{% endblock fos_user_content %}
