{% extends "AppBundle::baseFront.html.twig" %}

{% block title %}AppBundle:Page:about{% endblock %}

{% block body %}
    <h1>Notre équipe<br></h1>

    <div class="row rowAbout">
        <div class="col-lg-offset-2 col-md-offset-2">
            <img src="http://dl.reseau-ges.fr/ges-dl/public/fokxW21lPbwuvHeFVJNJ1FmGk6w3PLY_Vg77aSqYwBA?pfdrid_c=true" alt="..." class="img-rounded">
            <img src="http://dl.reseau-ges.fr/ges-dl/public/fokxW21lPbwuvHeFVJNJ1ENqBG04d5DUVg77aSqYwBA?pfdrid_c=true" alt="..." class="img-rounded">
            <img src="http://dl.reseau-ges.fr/ges-dl/public/fokxW21lPbwuvHeFVJNJ1KXIGz0vIGTAVg77aSqYwBA?pfdrid_c=true" alt="..." class="img-rounded">
            <img src="http://dl.reseau-ges.fr/ges-dl/public/fokxW21lPbwuvHeFVJNJ1LvbzE20SKfEVg77aSqYwBA?pfdrid_c=true" alt="..." class="img-rounded">
        </div>
    </div>
{% endblock %}
