{% extends "AppBundle::baseFront.html.twig" %}

{% block title %}AppBundle:Page:contact{% endblock %}

{% block body %}
    <div class="tab-content">
        <div id="login" class="tab-pane fade in active">
            <div class="login-inner">
                <div class="title">
                    <h1>Contact <span>us!</span></h1>
                </div>
                <div class="login-form">
                    <form action="{{ path('contact') }}" method="POST">
                        <div class="form-details">
                            <label class="pass">
                                <input type="text" name="object" placeholder="Object" id="object">
                            </label>
                            <label class="pass">
                                <textarea type="text" name="message" placeholder="Message" id="message"></textarea>
                            </label>
                        </div>
                        <button type="submit" class="form-btn" onsubmit="">Sent</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
